body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.register {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.register-name {
  float: left;
  width: 10%;
  padding-left: 10px;
  border-right: 1px solid #000; 
}

.register-description {
  float: left;
  width: 20%;
  padding-left: 10px;
  border-right: 1px solid #000;
}

.register-example {
  float: left;
  width: 60%;
  padding-left: 10px;
  border-right: 1px solid #000;
}

.register-read-write {
  float: left;
  width: 10%;
  padding-left: 10px;
  border-right: 1px solid #000;
}

.register-item {
  cursor: pointer;
}

.register-view {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  margin-top: 0.5%;
}

.registers,
.controller {
  padding: 25px;
}

.register-item-key {
  width: 5%;
  font-weight: bold !important;
}

.register-submit-button {
  margin-top: 27px !important;
  margin-left: 25px !important;
}

.controller-form-input {
  margin-right: 15px !important;
}

.motor-horizontal-left {

}

.motor-horizontal-right {

}

.motor-vertical-up {

}

.motor-vertical-down {
  
}